@import "Lato.css";
html, body {
    height: 100%;
}

body {
    font-size: 16px;
}
[v-cloak] {
    display: none;
}
a{
    color:#000;
}
a:hover {
    color:#ec0fea;;
    text-decoration: none;
}
.list-group-item a:hover{
    background: #eeeeee;
}
#introduction p{
    padding: 0 5px;
}
.role {
    opacity: 0.5;
}
.team-name {
    height:56px;
    font-size:16px;
    line-height: inherit;
}
.title {
    margin-bottom: 30px;
}
.footer {
    padding-top:60px;
    padding-bottom:40px;
    font-size: 12px;
     font-weight: 100;
}
.footer .contact {
    font-size: 18px;
}
.title.profile-title {
    margin-bottom: 60px;
}
.name-area {
    margin: 10px 0 10px;
    line-height: 60px;
}
.new {
    font-size:60px;
}
.name {
    color:red;
    font-size:20px;
    font-weight:700;
}
.score-area {
    padding:30px 0;
}
.score, .time {
    margin-top: 20px;
    color:red;
    font-size:20px;
}
#myContent {
    background:#666666;
    border-radius: 4px;
}
#myContent, #myContent #blink{
    width:100%;
    height:200px;
    padding:20px;
    font-size: 20px;
    color: #00FF00;
}
.btn-rounded {
    font-weight: 700;
    width:60px;
    height: 60px;
    padding:12px;
    -moz-border-radius: 50%; /* Firefox */
  -webkit-border-radius: 50%; /* Safari 和 Chrome */
  border-radius: 50%; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
      border-width: 3px;
       -moz-box-shadow: 0 0 2px #666;
  -webkit-box-shadow: 0 0 2px #666;
    box-shadow: 0 0 2px #666;
}
#blink{
    display:inline;
}
.profile-submit {
    padding: 0 20px;
}
.list-group-item {
    padding:0;
}
.select {
    display: block;
    padding: 20px 15px;
    cursor: pointer;
    white-space: normal;
}
.attention {
    font-size: 30px;
    font-weight: 600;
}
.shoot-footer {
    border-top: none!important;
}
.over-body {
    font-size: 18px;
    padding: 10px;
}
.login-tip {
    padding-top: 20px;

    opacity: 0.7;
}
.login-tip i {
    color: #ff7777;
}
.modal-body > ul > li {
    list-style-type: circle;
}
.modal-header .close {
    margin-top: 0;
}
.choose-btn {
    width: 100%;
    height: 50px;
}
.footer-align {
    text-align: center!important;
}
.footer-align .btn {
    padding: 10px 15px;
}
.footer-align .left {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .title {
        font-size: 28px;
    }
    .name-area {
        line-height: 16px;
    }
    .name, .new {
        font-size: 14px;
    }
}
